body {
  padding: 0%;
  margin: 0%;
  background-color: bisque;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
h1 {
  font-family: "Courier New", monospace;
}

.grid-parent {
  display: flex;
  flex-wrap: wrap;
  border: 32px solid red;
  border-radius: 2%;
  background-color: lightgray;
  width: 780px;
  height: 780px;
}

.grid-child {

}
